.tocOpen {
  background-color: rgb(56, 56, 56);
  display: block;
  float: left;
  font-size: 1.75em;
  height: 100vh;
  left: 0;
  line-height: 2em;
  opacity: 95%;
  overflow-y: auto;
  padding: 3em 2em;
  position: fixed;
  text-align: center;
  top: 0;
  transition: all 0.5s;
  width: 50vw;

  @media (min-width: 800px) {
    font-size: 1.5em;
    text-align: left;
    text-indent: 0.5em;
  }
}

.toc {
  @media (max-width: 1300px) {
    background-color: rgb(56, 56, 56);
    float: left;
    font-size: 1.75em;
    height: 100vh;
    left: -100%;
    line-height: 2em;
    opacity: 95%;
    overflow-y: auto;
    padding: 3em 2em;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.5s;
    width: 50vw;

    @media (min-width: 800px) {
      font-size: 1.5em;
      text-align: left;
      text-indent: 0.5em;
    }
  }

  @media (min-width: 1300px) {
    display: block;
    float: left;
    height: 100vh;
    line-height: 2em;
    overflow-y: auto;
    padding: 2em 3em;
    position: sticky;
    top: 0px;
    width: 20vw;
  }
}

.toc ul,
.tocOpen ul {
  list-style-type: none;
}

.tocEntry {
  padding: 0 0.25rem;
}

.tocEntry:hover {
  background-color: rgb(65, 65, 65);
  border-radius: 2px;
  cursor: pointer;
}

.tocButton {
  composes: scroll-top from "../scroll-top/scroll-top.module.css";
  display: flex;
  left: 1.5em;
  margin: 0;

  @media (min-width: 1300px) {
    display: none;
  }
}
