.page {
  margin-top: 2em;
}

.blog {
  width: 90%;

  @media (min-width: 820px) {
    width: 800px;
  }
}

.blog > :not(hr + div):not(div:first-of-type) {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.blog ul {
  margin-left: 1em;
}

.blog i {
  padding-bottom: 1em;
}
