.video {
  overflow: hidden;
  margin-top: 1em;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.caption {
  font-size: 0.75rem;
  margin-top: 2%;
  text-align: center;
}
