.page {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 1em;

  @media (min-width: 820px) {
    width: 800px;
  }
}

.imgContainer {
  position: relative;
  width: 25rem;
  height: 25rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  margin: 1em;
  line-height: 2em;
}
