.page {
  flex: 1;
  width: 90%;

  @media (min-width: 820px) {
    width: 800px;
  }
}

.imgContainer {
  margin: 1em 0;
  max-width: 800px;
  position: relative;
  height: 10em;
}

.main {
  font-size: 2rem;
  line-height: 2em;
}

.text {
  font-size: 0.5em;
  line-height: 2em;
  max-width: 800px;
  padding-bottom: 1em;
  text-align: center;
}

.frameworkGrid {
  display: grid;
  gap: 0.75em;
  grid-template-columns: 1fr;

  /* @media (min-width: 800px) {
    gap: 0.75em 0;
    grid-template-columns: repeat(2, 1fr);
  } */
}

.framework {
  background-color: rgb(18, 18, 18);
  border: 2px solid white;
  border-radius: 0.5em;
  font-size: 0.85em;
  height: 100px;
  text-align: center;
  transition: 0.5s;
  width: 90%;
}

.framework:hover {
  background-color: rgb(65, 65, 65);
  border: 2px solid rgb(65, 65, 65);
  height: 170px;
  transition: 0.5s;
}

.frameworkSublist {
  font-size: 0.5em;
  line-height: normal;
  opacity: 0;
  transition: 0.1s;
}

.framework:hover > .frameworkSublist {
  opacity: 1;
  transition: 0.5s 0.1s;
}

.frameworkLine {
  width: 75%;
}
