.page {
  display: flex;
  justify-content: center;
  width: 800px;

  @media (max-width: 800px) {
    width: 90%;
  }
}

.main > :not(hr + div):not(div:first-of-type) {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  line-height: 1.5em;
}

.main ul {
  margin-left: 1em;
}

.main i {
  padding-bottom: 1em;
}
