.scroll-top {
  position: fixed;
  right: 2vw;
  bottom: 0;
  height: 5vw;
  width: 5vw;
  font-size: 1em;
  z-index: 1;
  background-color: dimgray;
  border-radius: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
