.scroll-top {
  background-color: dimgray;
  border-radius: 50px;
  bottom: 1em;
  cursor: pointer;
  font-size: 2em;
  height: 1.75em;
  opacity: 85%;
  position: fixed;
  right: 1.5em;
  width: 1.75em;
  z-index: 1;
}

.scroll-top:hover {
  background-color: gray;
  transition: background-color 0.5s;
}
